html, body {
    padding: 0;
    margin: 0;
    background-color: #F2F2FF;
}

#landing_page {
    width: 100%;
    height: 100%;
}

#logo {
    position: relative;
    top: 50%;
    left: 50%;
    width: 1280px;
    height: 720px;
    margin-top: -400px;
    margin-left: -640px;
}

#enter {
    width: 300px;
    height: 150px;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 100px;
    margin-left: -150px;
}

#content {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#navigation {
    position: relative;
    float: right;
    top: 50%;
    right: 20%;
    margin-top: -100px;
}

#about {
    margin-bottom: 50px;
    opacity: 0;
    margin-right: -150px;
}

#games {
    margin-bottom: 50px;
    opacity: 0;
    margin-right: -150px;
}
#contact {
    margin-bottom: 50px;
    opacity: 0;
    margin-right: -150px;
}
#navigation a {
    display: block;
    font-weight: bold;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}